/*
  SLIDE
*/

.slide-enter-active, .slide-leave-active {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.slide-enter, .slide-leave-to {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
