/*
  SLIDE
*/

.slide-enter-active {
  transform: translateX(0);
  transition: transform .3s;
  transition-delay: .3s;
}

.slide-leave-active {
  transform: translateX(0);
  transition: transform .3s;
}

.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
  transition: transform .3s;
}

/*
  FADE
*/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity .3s;
  transition-delay: 0s;
}


.fade-leave-active {
  opacity: 1;
  transition: opacity .3s;
}

.fade-leave-to {
  opacity: 0;
}
